{% extends 'polls/layout.html' %}

{% block body %}
<h1 class="display-4">Active Polls</h1>
{% for question in latest_question %}
<div class="card mb-3">
    <div class="card-body">
        <p class="lead">
{{question}}
        </p>
        <a href="{% url 'polls:details' question.link %}" class="btn btn-primary btn-sm">Vote Now</a>
        <a href="{% url 'polls:results' question.link %}" class="btn btn-secondary btn-sm">Results</a>
    </div>
</div> 
{% empty %}
    NO POLLS
{% endfor %}

<br>
<a class="btn btn-outline-primary mb-4 mt-4" href="{% url 'polls:addPoll' %}"> Add A Poll </a>
{% endblock %}