*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
 background: #0f0c29;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.jumbotron{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items:center
}
.heading{
    position: absolute;
    top:30px;
    left: 50%;
    transform: translate(-50%);
    font-size: 2.3rem;
    z-index: -33;
    letter-spacing: 2.5px;
    font-weight: 600;
    color: white;
}
.split{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.jumbotron-text{
    font-size: 1.5rem;
    color:wheat;
    font-weight: 600;
    transition: all .3s;

}
.link{
    padding: 10px 20px;
}
.left{
    flex:1;
    justify-content: center;
    text-align: center;
    align-items: center;
    transition: all .3s;

}

.right{
    flex:1;
    justify-content: center;
    text-align: center;
    align-items: center;
    transition: all .3s;

}
.link{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
}
.left:hover, .right:hover{
    transition: all .3s;
    flex: 2;
    color: white;
    background-color: rgba(0,0,0,0.3);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.left:hover .jumbotron-text, .right:hover .jumbotron-text{
    color: white;
    font-size: 2rem;
}

.footer{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
}